.topbar{
    z-index: 999;
    height: 7rem;
    border-bottom: 3px solid #202020;
    width: calc(100vw - 230px);
    margin-left: 230px;
    background-color: #121212;
    position: fixed;
    top: 0;
    padding-bottom: 1rem;
    
    p{
        font-size: 1rem;
        letter-spacing: normal;
        color: #69cdff;
        cursor: pointer;
        padding-bottom: 0;
        margin-bottom: 0.5rem;
        .back{
            margin-left: 2rem;
            transform: translateY(3px);
        }
    }

    .hospitalDetail{
        h1{
            font-weight: 500;
            font-size: 1.9rem;
            line-height: 1.2;
            letter-spacing: normal;
            color: rgba(255, 255, 255, 0.9);
            margin-left: 2rem;
            margin-bottom: 0.5rem;
            margin-top: 0;
            padding-top: 0;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.33;
            letter-spacing: normal;
          
        }
        h4{
            line-height: 1.33;
            letter-spacing: normal;
            color: rgba(255, 255, 255, 0.6);
            margin-left: 2rem;
            margin-top: 0;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.33;
            letter-spacing: normal;
          
            .dot{
                font-size: 10px;
            }
        }
        .proceed-btn-active{
            border: 2px solid #202020;
            float: right;
            margin-right: 40px;
            padding: 8px 25px 8px 25px;
            border-radius: 5px;
            background-color: #0f6ebe;
            font-size: 0.9em;
            font-family: Poppins;
            font-style: normal;
            line-height: 1.33;
            text-align: center;
            color: rgba(255, 255, 255, 0.9);
            transform: translateY(-3.8rem);
            transition: all 0.2s ease-in;
        }
        .proceed-btn-active:hover, .proceed-btn-active:active{
            cursor: pointer;
            border: 2px solid #202020;
            border-radius: 5px;
            background-color: #121212;
        }
        .proceed-btn-disabled{
            border: 2px solid #202020;
            float: right;
            margin-right: 40px;
            padding: 8px 25px 8px 25px;
            border-radius: 5px;
            font-size: 0.9em;
            font-family: Poppins;
            font-style: normal;
            line-height: 1.33;
            text-align: center;
            background-color: #121212;
            color: rgba(255, 255, 255, 0.9);
            transform: translateY(-3.8rem);
            transition: all 0.2s ease-in;
        }
        .proceed-btn-disabled:hover, .proceed-btn-disabled:active{
            cursor: not-allowed;
            pointer-events: all !important;
        }
    }
}

.minibar{
    z-index: 999;
    height: 5rem;
    border-bottom: 3px solid #202020;
    width: calc(100vw - 230px);
    margin-left: 230px;
    background-color: #121212;
    position: fixed;
    top: 0;
    padding-bottom: 0.5rem;
    p{
        font-family: Poppins;
        line-height: 1.4;
        font-size: 1rem;
        letter-spacing: normal;
        color: #69cdff;
        cursor: pointer;
        margin-bottom: 0.3rem;
        padding-bottom: 0;
        .back{
            margin-left: 2rem;
            transform: translateY(3px);
        }
    }

    .hospitalDetail{
        .name{
            font-family: Poppins;
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 1.2;
            color: rgba(255, 255, 255, 0.9);
            margin-left: 2rem;
            margin-top: 0;
            padding-top: 0;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.33;
            letter-spacing: normal;
          
        }
        .address{
            line-height: 1.33;
            color: rgba(255, 255, 255, 0.6);
            margin-left: 2rem;
            margin-top: 0;
            font-size: 0.9rem;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.33;
            letter-spacing: normal;
          
            .dot{
                font-size: 10px;
            }
        }
        .proceed-btn-active{
            border: 2px solid #202020;
            float: right;
            margin-right: 50px;
            padding: 6px 25px 6px 25px;
            border-radius: 5px;
            background-color: #0f6ebe;
            font-size: 1em;
            font-family: Poppins;
            font-style: normal;
            line-height: 1.33;
            text-align: center;
            color: rgba(255, 255, 255, 0.9);
            transform: translateY(-20px);
            transition: all 0.2s ease-in;
        }
        .proceed-btn-active:hover, .proceed-btn-active:active{
            cursor: pointer;
            border: 2px solid #202020;
            border-radius: 5px;
            background-color: #121212;
        }
        .proceed-btn-disabled{
            border: 2px solid #202020;
            float: right;
            margin-right: 50px;
            padding: 6px 25px 6px 25px;
            border-radius: 5px;
            font-size: 1em;
            font-family: Poppins;
            font-style: normal;
            line-height: 1.33;
            text-align: center;
            background-color: #121212;
            color: rgba(255, 255, 255, 0.9);
            transform: translateY(-20px);
            transition: all 0.2s ease-in;
        }
        .proceed-btn-disabled:hover, .proceed-btn-disabled:active{
            cursor: not-allowed;
            pointer-events: all !important;
        }
    }
}

@media only screen and (min-width:1220px) and (max-width:1440px){
   
}




@media only screen and (min-width:1441px) and (max-width:1650px){

}

@media only screen and (min-width:1920px) and (max-width:2560px){

}

@media only screen and (min-width:2560px) and (max-width:2881px){

}
