.dashboard{
   
    min-height: 100vh;
    background-color: #121212;
    .mainDashboard{
        background-color: #121212;
        margin-top: 8.5rem;
        margin-left: 230px;
        .note{
            line-height: 1.4;
            letter-spacing: normal;
            color: rgba(255, 255, 255, 0.6);
        }
        .noLocationChosen{
            text-align: center;
            height: calc(100vh - 14.44vh);
            .bulb{
                color: #202020;
                font-size:20rem;
                margin-top: 100px;
            }
            h1{
                color: #202020;
                font-weight: 400;
                font-family: Poppins;
            }
        }

        .content{
            .searchBoxContainer{
                h4{
                    
                    margin-top: 2rem;
                    margin-left: 3.25vw;
                    margin-bottom: 1rem;
                    font-family: Poppins;
                    font-weight: 500;
                    line-height: 1.4;
                    letter-spacing: 1px;
                    color: rgba(255, 255, 255, 0.6);
                }
            }
            .table{
                width: 58vw;
                margin-left: 3.125rem;
                margin-top: 1rem;
                .th{
                    h5{
                        margin-left:1rem;
                        margin-bottom: 1rem;
                        font-family: Poppins;
                        font-weight: 500;
                        line-height: 1.4;
                        letter-spacing: 1px;
                        color: rgba(255, 255, 255, 0.6);
                    }
                    .bank{
                        float: right;
                        margin-right: 2rem;
                    }
                    .gender{
                        float: right;
                        margin-right: 2rem;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:1220px) and (max-width:1440px){
    .dashboard{
        .mainDashboard{
            .content{
                .searchBoxContainer{
                    h4{
                        margin-top: 2rem;
                        margin-left: 3.25vw;
                        margin-bottom: 1rem;
                        font-family: Poppins;
                        font-weight: 500;
                        line-height: 1.4;
                        letter-spacing: 1px;
                        color: rgba(255, 255, 255, 0.6);
                    }
                }
                .table{
                    width: 53vw;
                    margin-left: 3.125rem;
                    margin-top: 0.5rem;
                    .th{
                        h5{
                            margin-left:1rem;
                            margin-bottom: 0.5rem;
                        
                        }
                    }
                }
            }
        }
    }
    
}